.messageBar {
    bottom: 0px;
    text-align: center;
    position: fixed;
    z-index: 1001;
    cursor: default;
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
  
    .message {
      // padding: map-get($distances, "small");
      // margin: map-get($distances, "small");
      //opacity: map-get($opacity, "transparent");
      animation: new-item-animation 0.5s;
      min-width: 700px;
      transition: opacity 0.3s ease;
      pointer-events: all;
  
      
  
      &.removed-item {
        animation: remove-item-animation 0.2s forwards;
      }
  
      &.info {
      //   background-color: map-get($colorPalette, subCardBackground);
      //   color: map-get($colorPalette, textColor);
      }
  
      &.success {
      //   background-color: map-get($md-mypalette, 500);
      //   color: map-get($colorPalette, secondaryTextColor);
      background-color: greenyellow;
      color: black;
      }
  
      &.warning {
      //   background-color: map-get($md-warningpalette, 500);
      //   color: map-get($colorPalette, textColor);
      background-color: orange;
      color: black;
      }
  
      &.error {
        //background-color: map-get($md-errorpalette, 500);
        //color: map-get($colorPalette, secondaryTextColor);
        background-color: red;
        color: white;
      }
  
      .message-text {
        max-width: 90vw;
      }
    }
  }
  