.social-media{
    .socialMediaImg{
        a{
            color: gray!important;
            font-size: 2em;
        }
        a:hover {
            font-size: 2em;
            color: red!important;
            text-decoration: underline;
        }
    }
}